@model SDP2241A3.Models.PlaylistWithTracksViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Playlist details <span class="bg-info">@Model.Name</span> </h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tracks)
        </dt>

        <dd class="col-sm-10">
            <span class="badge rounded-pill bg-secondary">
                @Html.DisplayFor(model => model.TracksCount)

            </span>
            <br />
            @if (Model.TracksCount > 0)
            {
                foreach (var t in Model.Tracks)
                {
                    <span>@t.Name</span><br />
                }
            }
            else
            {
                <span>(none)</span>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
